<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Songs Analysis</title>
    <link 
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    />
</head>
<body>
    <div class="container">
        <div class="jumbotron" text-align="center" style="background-color: #1db954" id="topOfPage">
            <h1 style="color: #ffffff">Spotify Songs Analysis</h1>
            <br>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1db954">
                <a class="navbar-brand" style="color: #ffffff">Menu (Project Sections):</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link" style="color: #ffffff" href="#background">Background</a>
                    <a class="nav-item nav-link" style="color: #ffffff" href="#analysis">Analysis</a>
                    <a class="nav-item nav-link" style="color: #ffffff" href="#model_process">Model Process</a>
                    <a class="nav-item nav-link" style="color: #ffffff" href="#model">Model</a>
                  </div>
                </div>
              </nav>
        </div>

    </div>

    <div class="container" id="background">
        <h3><u>Project Background</u></h3>
        <p>Spotify provides a Top 200s Chart for various countries on a daily basis, based on users' streams. This analysis focuses on songs from the <b>United States</b> that have ranked in the Top 200s chart, since <b>January 1, 2021 through November 17, 2021</b>.</p>
        <p>Additional information regarding various song features are also available. Some of the features which have been included in this analysis are as follows:</p> 
            <li><b>Acousticness:</b> A confidence measure from 0.0-1.0 of whether a track is acoustic, with 1.0 representing the highest confidence</li>
            <li><b>Danceability:</b> A measure of how suitable a track is for dancing on a scale of 0.0-1.0, with 1.0 representing the most danceable</li>
            <li><b>Duration (ms):</b> Track length in milliseconds</li>
            <li><b>Energy:</b> A measure from 0.0-1.0 of track intensity/activity, with 1.0 representing the most "energetic"</li>
            <li><b>Instrumentalness:</b> A measure from 0.0-1.0 predicting whether a track contains no vocals, with 1.0 representing the greatest likelihood the track contains no vocals</li>
            <li><b>Key:</b> The key the track is in (C, C♯/D♭, D, D♯/E♭, etc.</li>
            <li><b>Mode:</b> Modality (major or minor) of the track</li>
            <li><b>Speechiness:</b> A measure from 0.0-1.0 detecting the presence of spoken words in track, with 1.0 representing the more exclusive speech-like recordings</li>
            <li><b>Tempo:</b> Overall estimated tempo of track in beats per minute (BPM)</li>
            <li><b>Valence:</b> A measure of 0.0-1.0 describing the musical positiveness conveyed by the track, with 1.0 reperesenting the most positive</li>
        <br>
        <p>Stream and ranking position data have been scraped from the Spotify charts, and the corresponding song features data  (as outlined above) has been pulled through the Spotify API request.</p>
        <p>Various insights have been analyzed through this data in the "Exploratory Analysis" section.</p>
        <p>Additionally, a machine learning model has been built to predict whether a song can be predicted to rank within the Top 20 positions of the United States charts, depending on various musical attributes.</p>
        <br>
    </div>

    <div class="container" id="analysis">
        <h3><u>Exploratory Analysis</u></h3>
        <h5><b>Song & Artist Analysis</b></h5>
        <div class="row p-4">
            <div class="card m-auto" style="width: 90%;">
                <div class="card-body">
                    <h4>What songs have accumulated the most streams in 2021 so far?</h4>
                    <p>So far in 2021, Dua Lipa's song, "Levitating (feat. DaBaby)", has amassed the most streams of ~244M.</p>
                    <div id="chart1"></div>
                </div>
            </div>
            <br>
            <div class="card m-auto" style="width: 90%;">
                <div class="card-body">
                    <h4>Which artists have the most songs that have ranked in the Top 200s chart so far in 2021?</h4>
                    <p>Taylor Swift has the most songs on the Top 200s chart so far in 2021, with 86 charted songs.</p>
                    <div id="chart2"></div>
                </div>
            </div>
            <br>
            <div class="card m-auto" style="width: 90%;">
                <div class="card-body">
                    <h4>Which artists have accumulated the most total streams in 2021 so far?</h4>
                    <p>Drake has the most total streams across his charted songs in 2021, with ~1.0B streams.</p>
                    <div id="chart3"></div>
                </div>
            </div>
            <br>
            <div class="card m-auto" style="width: 90%;">
                <div class="card-body">
                    <h4>Which artists have the most #1 hits in 2021 so far?</h4>
                    <p>Drake and J.Cole are tied with the highest number of #1 hits in 2021 so far, with three #1 hits each.</p>
                    <div id="chart4"></div>
                </div>
            </div>
            <br>
        </div>  
        <h5><b>Song Audio Features Analysis</b></h5>
        <div class="row p-4">
            <div class="card m-auto" style="width: 90%;">
                <div class="card-body">
                    <h4>What songs are most 'danceable'?</h4>
                    <p>So far in 2021, the most 'danceable' song is "NEO" by Aminé, with a 'danceability' value of ~0.98.</p>
                    <div id="chart5"></div>
                </div>
            </div>
            <br>
            <div class="card m-auto" style="width: 90%;">
                <div class="card-body">
                    <h4>What songs are most 'energetic'?</h4>
                    <p>So far, the most 'energetic' song is "The Chapeltown Rag" by Slipknot, with a 'energy' value of ~1.00.</p>
                    <div id="chart6"></div>
                </div>
            </div>
            <br>
            <div class="card m-auto" style="width: 90%;">
                <div class="card-body">
                    <h4>What songs have the highest amount of 'speechiness'?</h4>
                    <p>So far in 2021, the most 'speechy' song is "Road Rage" by Young Thug, with a 'speechiness' value of ~0.89.</p>
                    <div id="chart7"></div>
                </div>
            </div>
            <br>
            <div class="card m-auto" style="width: 90%;">
                <div class="card-body">
                    <h4>What songs are most 'acoustic'?</h4>
                    <p>So far in 2021, the most 'acoustic' song is "Lost in Time" by Ski Mask the Slump God, with an 'acousticness' value of ~0.98.</p>
                    <div id="chart8"></div>
                </div>
            </div>
            <br>
            <div class="card m-auto" style="width: 90%;">
                <div class="card-body">
                    <h4>What songs are most 'instrumental'?</h4>
                    <p>The song with the higehst amount of 'instrumentalness' is "Aegean" by Solkatt, with a 'instrumentalness' value ~0.95.</p>
                    <div id="chart9"></div>
                </div>
            </div>
            <br>
            <div class="card m-auto" style="width: 90%;">
                <div class="card-body">
                    <h4>What songs are most positive (i.e., have the highest valence)?</h4>
                    <p>So far in 2021, the most 'positive'-sounding songs are "Glory Days" by Bruce Springsteen and "Earth, Wind & Fire" by September, tied with a 'valence' value of ~0.98.</p>
                    <div id="chart10"></div>
                </div>
            </div>
            <br>
            <div class="card m-auto" style="width: 90%;">
                <div class="card-body">
                    <h4>What songs are the fastest?</h4>
                    <p>So far, the fastest (highest tempo) song is "State of Grace (Acoustic Version) (Taylor's Version)" by Taylor Swift with a BPM of ~209.</p>
                    <div id="chart11"></div>
                </div>
            </div>
        </div>  

        <!-- plotly CDN -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript">
            var graphs1 = {{ graph1JSON | safe }}
            Plotly.plot("chart1", graphs1,{})

            var graphs2 = {{ graph2JSON | safe }}
            Plotly.plot("chart2", graphs2,{})

            var graphs3 = {{ graph3JSON | safe }}
            Plotly.plot("chart3", graphs3,{})

            var graphs4 = {{ graph4JSON | safe }}
            Plotly.plot("chart4", graphs4,{})

            var graphs5 = {{ graph5JSON | safe }}
            Plotly.plot("chart5", graphs5,{}) 

            var graphs6 = {{ graph6JSON | safe }}
            Plotly.plot("chart6", graphs6,{})

            var graphs7 = {{ graph7JSON | safe }}
            Plotly.plot("chart7", graphs7,{})

            var graphs8 = {{ graph8JSON | safe }}
            Plotly.plot("chart8", graphs8,{})

            var graphs9 = {{ graph9JSON | safe }}
            Plotly.plot("chart9", graphs9,{})

            var graphs10 = {{ graph10JSON | safe }}
            Plotly.plot("chart10", graphs10,{})

            var graphs11 = {{ graph11JSON | safe }}
            Plotly.plot("chart11", graphs11,{})
        </script>
    </div>
    
    <div class="container">
        <h3><u>Machine Learning Model</u></h3>
        <h5>Can we predict whether a song will be able to achieve a rank in the top 20 positions of the Spotify United States Top 200 chart, based on various song attributes/features?</h5>
        <br>
        <p id="model_process"><b><u>Machine Learning Model Process</u></b></p>
        <li><b>Data Preprocessing:</b> 
            <ul>Using the "songs" table from the database, an additional column was added - codifying whether a song reached a rank within the top twenty positions or not.</ul>
            <img src="https://raw.githubusercontent.com/aseo67/Top_Songs_Analysis/main/Screenshots/4_Model_AddTopTwentyCol.png" style="width: 90%">
            <ul>Unnecessary columns (such as ID columns, and less relevant variables) have been removed.</ul>
            <img src="https://raw.githubusercontent.com/aseo67/Top_Songs_Analysis/main/Screenshots/4_Model_DropCols.png" style="width: 90%">
            <ul>Categorical variables were identified ('key' and 'mode'), and have been encoded (using LabelEncoder) so that all columns utilize numerica data.</ul>
            <img src="https://raw.githubusercontent.com/aseo67/Top_Songs_Analysis/main/Screenshots/4_Model_EncodeCategoricalVar.png" style="width: 90%">
        </li>
        <li><b>Feature Selection:</b>
            <ul>First, the model was run utilizing most of the features included in the API audio features request.</ul>
            <ul>The model initially focused on features that related to the musicality of the song - danceability, energy, speechiness, acousticness, instrumentalness, valence, tempo, key, and mode (major or minor).</ul>
            <ul>Features, such as 'streams', 'loudness' (volume), 'duration_ms' (length of song), 'time_signature', and 'liveness', were left out of the analysis.</ul>
            <img src="https://raw.githubusercontent.com/aseo67/Top_Songs_Analysis/main/Screenshots/4_Model_AssignVar.png" style="width: 90%">
            <ul>Upon running the model and evaluating the results, the rank of features and their contribution to the model seemed to suggest a few could be removed to try and improve the accuracy of the model.</ul>
            <img src="https://raw.githubusercontent.com/aseo67/Top_Songs_Analysis/main/Screenshots/4_Model_FeaturesRanked.png" style="width: 90%">
            <ul>As a test, the two lowest contributing variables ('mode_type' and 'instrumentalness') were excluded and the model was rerun. However, results did not improve, and rather accuracy fell. Thus, the variables initially used in the model were kept.</ul>
            <img src="https://raw.githubusercontent.com/aseo67/Top_Songs_Analysis/main/Screenshots/4_Model_FeaturesRemovedTest_EvalModel.png" style="width: 90%">
        </li>
        <li><b>Training & Testing Sets:</b>
            <ul>The dataset was split into training and test sets using the train_test_split function from the scikit-learn library and its default split of ~75% training.</ul>
            <ul>There is some class imbalance, with more songs that did not achieve a rank with the top twenty. Thus, the SMOTEENN technique was utilized to resample the data and provide a better input to train the model.</ul>
            <ul>Finally, with the resampled data, the data was then scaled, given the values of some of the features were on very different scales.</ul>
            <img src="https://raw.githubusercontent.com/aseo67/Top_Songs_Analysis/main/Screenshots/4_Model_SplitResampleScale.png" style="width: 90%">
        </li>
        <li><b>Model Choice:</b>
            <ul>A random forest model was used to build this model, as it is an ensemble learning method that provides better accuracy and robustness. It utilizes several smaller, simpler decision trees trained on different pieces of data, then combined to create a strong learner.</ul>
            <img src="https://raw.githubusercontent.com/aseo67/Top_Songs_Analysis/main/Screenshots/4_Model_RFModel.png" style="width: 90%">
            <ul><i>Benefits of Random Forest Model</i>
                <ul>This model type is less prone to overfitting.</ul>
                <ul>It can be used to rank importance of input variables, which is helpful to narrow down the features included and create a model that is less likely to overfit and uses less trainig time.</ul>
                <ul>It can handle thousands of input variables, so the input set can be expanded to improve the model if needed.</ul>
                <ul>This model type is robust against outliers, which can be helpful with a dataset like song features and ranking (essentially, audience reception) which can be more prone to outliers than a clear-cut dataset that's less based on human preference.</ul>
                <ul>It can run large datasets quite efficiently, which is helpful if we want to expand this dataset even more (such as beyond just 2021).</ul>
            </ul>
            <ul><i>Limitations of Random Forest Model</i>
                <ul>It's tougher to incorporate non-tabular data into random forest models without heavy modification/cleaning. If there is a wider variety of inputs to be tested to predict the outcome, it would be tough to use this model type.</ul>
                <ul>A deep learning model may be better at identifying variability in the dataset, given a random forest model uses a collection of weaker learners combined, with each trained on a subset of data, whereas a deep learning model can evaluate all input data within a single neuron or with multiple neurons/layers as needed.</ul>
            </ul>
        </li>
        <li><b>Changes/Updates to Model Choice:</b>
            <ul>The random forest model has been kept, as it seems like the best fit so far out of the model explorations conducted. It allows the robustness of an ensemble learning method, but doesn't overfit as a deep learning model may.</ul>
            <img src="https://raw.githubusercontent.com/aseo67/Top_Songs_Analysis/main/Screenshots/4_Model_DeepLearningTest_EvalModel.png" style="width: 90%">
            <ul>A deep learning was indeed tested to confirm whether overfitting is a risk, or if accuracy can be improved. Based on the tested run, the deep learning model did show improved accuracy, but reached this level after only a few epochs, suggesting that it overfitted quickly.</ul>
        </li>
        <li><b>Model Training:</b>
            <ul>The random forest model was trained using 100 estimators.</ul>
            <img src="https://raw.githubusercontent.com/aseo67/Top_Songs_Analysis/main/Screenshots/4_Model_RFModel.png" style="width: 90%">
            <ul>Usage of more estimators was tested, but it only added a very small increase to accuracy, suggesting there isn't more improvement to be made by adding on estimators.</ul>
            <img src="https://raw.githubusercontent.com/aseo67/Top_Songs_Analysis/main/Screenshots/4_Model_MoreEstimatorsTest.png" style="width: 90%">
        </li>
        <li><b>Model Results:</b>
            <img src="https://raw.githubusercontent.com/aseo67/Top_Songs_Analysis/main/Screenshots/4_Model_EvalModel.png" style="width: 90%">
            <ul>The final testing accuracy score = ~0.57, which suggests the model is correct only about half the time.</ul>
            <ul>When diving deeper into the results with the confusion matrix, we see that we predicted 45 songs to not be in the top twenty ranks, when in actuality they were; and predicted 142 songs to be in the top twenty ranks, when in actuality they were not. Thus, the precision measure for determining if a song will not reach top twenty is pretty good at ~0.83, but predicting top twenty songs is not as precise (with a measure of ~0.19).</ul>
        </li>
        <li><b>Potential Future Phases & Improvements:</b>
            <ul>Given there is room for improving the model accuracy, some potential routes to take for future phases are:</ul>
            <ul>Testing if the included features' (such as 'tempo', 'speechiness', and 'energy' - as these are the top features based on the random forest model's feature ranking) have statistically different values between songs that do reach top twenty vs. don't reach top twenty. This can be helpful in determining whether these features are useful in this model that aims to distinguish top twenty ranked songs from a dataset.</ul>
            <ul>Testing other new features, such as: artist popularity/followers (as artist fame can be a factor), time of year/season (for example, upbeat/summer songs may have better chance at ranking higher during the summer), etc.</ul>
        </li>
        <br>
        <p id="model"><b><u>Run Model: Provide Song Features/Attributes</u></b></p>
        <form action="/predict" method="POST">
            <label>Danceability (0.0 - 1.0):</label>
            <input type="float" name="danceability">
            <br>
            <label>Energy (0.0 - 1.0):</label>
            <input type="float" name="energy">
            <br>
            <label>Speechiness (0.0 - 1.0):</label>
            <input type="float" name="speechiness">
            <br>
            <label>Acousticness (0.0 - 1.0):</label>
            <input type="float" name="acousticness">
            <br>
            <label>Instrumentalness (0.0 - 1.0):</label>
            <input type="float" name="instrumentalness">
            <br>
            <label>Valence (0.0 - 1.0):</label>
            <input type="float" name="valence">
            <br>
            <label>Tempo (BPM):</label>
            <input type="number" name="tempo">
            <br>
            <label>Key:</label>
            <select name="key_type" id="key_type">
                <option value=0>A</option>
                <option value=1>A♯/B♭</option>
                <option value=2>B</option>
                <option value=3>C</option>
                <option value=4>C♯/D♭</option>
                <option value=5>D</option>
                <option value=6>D♯/E♭</option>
                <option value=7>E</option>
                <option value=8>F</option>
                <option value=9>F♯/G♭</option>
                <option value=10>G</option>
                <option value=11>G♯/A♭</option>
            </select>
            <br>
            <label>Mode (Major/Minor):</label>
            <select name="mode_type" id="mode_type">
                <option value=0>Major</option>
                <option value=1>Minor</option>
            </select>
            <br>
            <input type="submit">
        </form>
    </div>
    <br>
    <br>
</body>
</html>
